############################
# OS files
############################
.DS_Store
Thumbs.db

jemdoc_mathjax-master-2.zip

############################
# Editor
############################
.vscode/
.idea/
*.swp

############################
# Logs
############################
*.log

############################
# Build outputs
############################
dist/
build/
.cache/
public/

############################
# Dependencies
############################
node_modules/

############################
# Environment / secrets
############################
.env
.env.local
config.private.*

############################
# Python (如果你有脚本)
############################
__pycache__/
*.pyc
.venv/

############################
# Temporary
############################
tmp/
temp/